<div class="form_box">
	<h1>The alert has been deleted!</h1>
</div>
<%= link_to "See All Alarms",:controller => "alert", :action => "show"  %><br>
<%= link_to "Search Again",:controller => "street", :action => "index"  %>