<h1>Alert#cancel</h1><br>
The alert has been deleted!
<%= link_to "See All Alarms",:controller => "alert", :action => "show"  %><br>
<%= link_to "Search Again",:controller => "street", :action => "index"  %>