


<div id="show_alert">
	<% if @alarms.blank? %>
		Currently, you have no alarms
	<%else%>
		<% @alarms.each do |alarm| %>
		   <li> <%= alarm.ct_html%> | <%= alarm.location %> | <%=link_to "delete", :controller => "alert", :action => "kill", :q => alarm.id, :method => "get"%></li>
		<% end %>
	<%end%>
</div>