.container{
	margin-right: auto;
	margin-left: auto;
	width:75%;
	text-align: center;
}

#user_input{

}

#user_nav{
	color: #06275D;
	background-color: #06275D;
	padding: 0px 0px 10px 0px;
}

#user_sign{
	text-align: right;
	float: right;
	color: blue;
}

#body{
	margin: 0px;
	background-color: #6C7A7D;
}

#container1{
	
	
}

#logo{
	text-align: center;
	font-size: 50px;
	margin: 0px;
}

#yield_page{
	text-align: center;
}

p{
	margin: 0px;
}

#links{
	text-align: center;
}

#feedback_head{
	text-align: center;
}

.field{
	text-align: center;
}

.button{
	width: 45px;
}

a{
	color: #EEC015;
}

a:visited{
	color: #EEC015;
}

.form_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 300px;
	padding:20 20 80 20;
	background: white;
	border: 12px solid black;
	border-radius: 15px;
	
}

.form_box .form_border{
	border: 12px solid black;
	border-radius: 15px;
	filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5;
}