.container{
	margin-right: auto;
	margin-left: auto;
	width:75%;
	text-align: center;
}

#user_input{
	text-align: center;
}

#user_nav{
	color: #06275D;
	background-color: white;
	padding: 0px 0px 10px 0px;
}

#user_sign{
	text-align: right;
	float: right;
	color: blue;
}

#footer{
	color: white;
}

#pretty_str{
	color: white;
}

#body{
	margin: 0px;
	background-color: #06275D;
}

#logo{
	text-align: center;
	font-size: 50px;
	margin: 0px;
}

#yield_page{
	text-align: center;
}

p{
	margin: 0px;
	color: white;
}

#links{
	text-align: center;
}

#feedback_head{
	text-align: center;
}

.field{
	text-align: center;
}

.button{
	width: 100px;
}

a{
	color: #EEC015;
}

a:visited{
	color: #EEC015;
}

.form_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 300px;
	padding:40 20 80 20;
	background: white;
	border: 12px solid black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	
}

.form_box .form_border{
	border: 12px solid #EEC015;
	border-radius: 15px;
	-moz-border-radius: 15px;
	filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5;
}

input{
	margin-bottom: 10px;
}

label{
	
}

#user_submit{
	font-size: 150%;
	font-weight: bold;
	-webkit-appearance: none;
	background: #EEC015;
	margin-top: 10px;
	padding: 10 30 10 30;
	width: 175px;
}
