.container{
	margin-right: auto;
	margin-left: auto;
	width:75%;
	text-align: center;
}

#navbar_side{
	margin-right: auto;
	margin-left: auto;
	width:20%;
	text-align: center;
	background-color: #659EC7;
	
}

#user_input{

}

#user_nav{
	color: blue;
	background-color: #659EC7;
	padding: 0px 0px 10px 0px;
}

#user_sign{
	text-align: right;
}

#body{
	margin: 0px;
}

#container1{
	background-color: #BDEDFF;
	
}

#logo{
	text-align: center;
	font-size: 50px;
	margin: 0px;
}

p{
	margin: 0px;
}

#links{
	text-align: left;
}

.button{
	width: 45px;
}