<div id="user_input">
	<p>Where are you parked?</p>
	<p>(Ex. 3180 19th St or 3180 19th)</p>
	<p>
	<%= form_tag("/street/show/", :method => "get") do %>
		  <%= text_field_tag(:q) %>
		  <%= submit_tag("Search") %>
		<% end %>
	</p>
</div>

