<ul class=edge_to_edge>
	<li class=arrow><%=link_to "Search for Cleaning Times", street_mobile_home_path%></li>
	<li class=arrow><%=link_to "See Current Alarms", alert_show_path%></li>
	<li class=arrow><%=link_to "Search for Cleaning Times", edit_user_registration_path%></li>
</ul>