<div class="form_box">
	<h2><center><%=link_to "Search for Cleaning Times", street_mobile_home_path%><br />
		<br />
	<%=link_to "See Current Alarms", alert_show_path%><br />
		<br />
	<%=link_to "Edit User", edit_user_registration_path%></center></h2>
		<br />
</div>