<div class="content_box">
	<!--<div id="ticket_photo">
		<%= image_tag "parking_ticket.jpg", :alt => 'Parking Ticket!' %>
	</div> -->
	<div id="user_input">
		<h2>Where is your car parked?</h2>
		<!-- <p> ex. <b>101 Market</b> or <b>100 Larkin St</b></p> -->
		<%= form_tag("/street/show/", :method => "get") do %>
			  <%= text_field_tag(:q, nil, :placeholder => "101 Market") %><br />
	
			  <%= submit_tag("Create Alert", :class => "user_submit") %>
		<% end %>
			
	</div>
</div >
