<div class="form_box">
	<div id="user_input">
		<p><h2>Where are you parked?</h2></p>
		<p><h3>(Ex. 3180 19th St or 3180 19th)</h3></p>
		<p>
		<%= form_tag("/street/show/", :method => "get") do %>
			  <%= text_field_tag(:q) %>
			  <%= submit_tag("SEARCH") %>
			<% end %>
		</p>
	</div>
</div >