<!-- ALL OF THESE HELPER FUNCTIONS LIVE IN /app/helpers/street_helper.rb -->
<div class="form_box">
	<div id="pretty_str">
		<font color ="red"><%=@pretty_str[0]%><br><%=@pretty_str[1]%></font>
	</div>
	<br>
	<%=button_to "Create a Cleaning Alert!", alert_create_path, :method => "get"-%>
	<%=button_to "Text Me This Time!", street_text_message_path, :method => "get"-%>
</div>
