<center><h1>Feedback</h1>

<%= render 'form' %>

<span style="font-size:20px;font-weight:bold">Give us a holler<br /><br />
<a href="mailto:ticket.cricket@gmail.com">ticket.cricket@gmail.com</a></span>

<%= link_to 'Back', feedbacks_path %></center>
