<div class="about_image">
	<%= image_tag "dillman-image.png"%>
	<%= image_tag "peter-image.png"%>
	<%= image_tag "dian-image.png"%>
	<%= image_tag "jennifer-image.png"%>
	
</div>
<div class="about_text">
<p>Thank you for visiting Ticket Cricket. We designed made this site so that we could stop the onslaught of tickets that San Francisco gives us on a daily basis. We worked many hours making this site what it is today without any prior knowledge of how to do it. We are just a couple of people who wanted to help. 
	<br />
	<br />
	
	A FEW FACTS:
	<br />
	
	There are 89 different neighborhoods that San Francisco recognizes for street cleaning.
	<br />
	In those 89 neighborhood there are 238 different unique cleaning times.
	<br />
	With those 238 unique times there are around 1425 different streets that use them.
	<br />
	<br />
	That is A LOT to remember. So we have this. Just put in the address where you parked and we will send you a text when it is time for you to move your car so that you do not get a ticket. It is that easy! 
	
</p>	
</div>